.h1 {
    text-align: center;
  }

.header,
.footer {
text-align:center;
}

#tapis {
  display: flex;
  margin: auto;
  width: 500px;
  height: 500px ;
  align-content: center;
  }

#tapis tr td :active {
  transform: rotateX(180deg);

  }