body {
  background-color: rgb(241, 228, 228);
}

.h1 {
    text-align: center;
  }

.header,
.footer {
text-align:center;
}


#tapis {
  border-style: ridge;
  border-width: 12px;
  border-radius: 20px;
  padding: 1px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 529px;
  height: 429px ;
  align-content: center;
  }
