body {
  background-color: rgb(236, 233, 233);
}

.h1 {
    text-align: center;
  }

.header,
.footer {
  text-align:center;
  padding: 2px; 
}


#tapis {
  border-style: double;
  border-width: 12px;
  border-radius: 20px;
  border-color: grey;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 529px;
  height: 429px ;
  align-content: center;
  }

  #image {
   border-radius: 25px;
  }
