
@import 'persos.scss';

.cptPlayer1 {
  top: 10px;
  left:100px;
  width: 200px;
  height: 50px ;
  background-color:gray;
  color: black;
  position: absolute;

}
.cptPlayer2 {
  top: 10px;
  left:900px;
  width: 200px;
  height: 50px ;
  background-color:gray;
  color: black;
  position: absolute;

}

.titre {
  top: 10px;
  left:300px;
  width: 600px;
  height: 50px ;
  position: absolute;
  display: flex;
  align-items : center;
  justify-content: center;
}

.main {
  top: 50px;
  left:100px;
  width: 1000px;
  height: 500px ;
  position: absolute;
  background-image: url('img/alchimie.PNG');
  color: white;
  
}


.boutons {
  padding: 3px;
  position: absolute;
  top: 550px;
  left:500px;
  width: 200px;
  height: 100px ;
  flex-wrap: wrap;

}

.player1 {
  position: absolute;
  top: 550px;
  left:100px;
  width: 400px;
  height: 100px ;
  background-color: gray;
  border: solid 1px;
  border-color: black;
}

.player2 {
  position: absolute;
  top: 550px;
  left:700px;
  width: 400px;
  height: 100px ;
  background-color: gray;
  border: solid 1px;
  border-color: black;
}